<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTmJy4Gheh8Nl3vfA64FTMLCav28soexs</string>
	<key>GCM_SENDER_ID</key>
	<string>253727189849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smeMoviesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sme-movies-app-afe16</string>
	<key>STORAGE_BUCKET</key>
	<string>sme-movies-app-afe16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253727189849:ios:34c875668f02f27e037a48</string>
</dict>
</plist>